.header {
	position: relative;
	padding: 2rem 0;
	margin-bottom: 1rem;

	@include cf();
}
.logo {
	@include col(.7);
	font-family: Arial, sans-serif;
	font-size: rem(22px);
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	color: $accent_color;

	&__img, &__text {
		display: inline-block;
		vertical-align: middle;
	}
	&__text span{
		color: #000;
	}
}
.top-nav {
	text-align: right;
	vertical-align: middle;
	font-family: "robotoslab-regular", sans-serif;
}
.top-nav__list {
	display: none;
	position: absolute;
	margin-top: -.5rem;
	padding: 1.5rem 0;
	top: 100%;
	background: darken($accent_color, 5%);
	width: 100%;
	left: 0;
	text-align: center;
	list-style: none;
}
.active {
	.top-nav__link {
		background: darken($accent_color, 10%);
	}
}
.top-nav__link {
	display: block;
	padding: .5rem 0;
	// margin-bottom: .5rem;
	text-decoration: none;
	color: #fff;
	transition: .5s;

	&:hover {
		background: darken($accent_color, 10%);
	}
}
.top-nav__trigger {
	font-size: rem(32px);
	text-decoration: none;
}