section.feature
	.container
		h2.feature__heading Premium graphic Resource center
		.feature__desc We offer high quality design resources such as fonts, icon sets, web templates, backgrounds, and much much more for FREE!

		.subcribe
			.subcribe__text Join our mailing list &amp; receive a new freebie everday!
			form.subcribe(action="#")
				input.subcribe__inputbox(type="text", placeholder="Email adress...")
				button.subcribe__btn.btn(type="submit") sign up