footer.footer
	.container
		nav.bot-nav
			+linkList("bot-nav", ["Home", "About", "Archive", "Contact"])

		.social
			ul.social__list
				li.social__item: a.social__link(href="#"): i.icon-twitter
				li.social__item: a.social__link(href="#"): i.icon-facebook
				li.social__item: a.social__link(href="#"): i.icon-pinterest
				li.social__item: a.social__link(href="#"): i.icon-gplus

		.all-right &copy; Copyright 2013 DesignerFirst.com