footer.footer
	.container
		nav.bot-nav
			+linkList("bot-nav", ["Home", "About", "Archive", "Contact"])

		.social
			+linkList("social", ["twitter", "facebook", "pintirest"])

		.all-right &copy; Copyright 2013 DesignerFirst.com