section.freebies
	.container
		.freebies__heading-wrap.heading-block
			h2.freebies__heading Fresh Freebies
			.freebies__heading-desc Download Till Your Heart's Content!

		.freebies__wrap
			ul.freebies__list
				+freebies("freebie1.jpg", "June 28, 2013", 320, 12, 128, "Responsive Showcase...", "Templates, PSD")
				+freebies("freebie2.jpg", "June 28, 2013", 320, 12, 128, "Round Icon Set", "Icons, Misc")
				+freebies("freebie3.jpg", "June 28, 2013", 320, 12, 128, "Nexa Free Font", "Fonts, Sans Serif")
				+freebies("freebie4.jpg", "June 28, 2013", 320, 12, 128, "Meteocons", "Icons, Weather")
				+freebies("freebie5.jpg", "June 28, 2013", 320, 12, 128, "The Bricks - UI Pack", "Templates, UI Kits")
				+freebies("freebie6.jpg", "June 28, 2013", 320, 12, 128, "Apple Cinema Display...", "Templates, Mock-Ups")

		.freebies__more
			a.btn.btn_large(href="#")
				| More freebies
				i.icon-angle-right