header.header
	.container
		.logo
			img.logo__img(src="images/logo.svg", alt="LimeLight")
			.logo__text
				| Lime
				span light

		nav.top-nav
			+linkList("top-nav", ["home", "Blog", "Fonts", "Templates", "Icons", "Wordpress"])