section.news
	.container
		.news__heading-wrap.heading-block
			h2.news__heading Latest News
			.news__heading-desc Find Out What's Going On

		.news__wrap
			ul.news__list
				+newsList("news1.jpg", "Should You Buy The New Flat-Panel iMac?", "Posted on July 28, 2013", "James Reed", "Technology", "The new iMac is so amazingly thin, and it still maintains its stunning good looks. It’s beefed up with the third generation quad-core i5/ i7 Ivy Bridge processors, so it’s powerful enough handle anything you can throw at it.")
				+newsList("news2.jpg", "We Are Too Addicted To Our Gadgets!", "Posted on July 3, 2013", "Miko Ivan", "Technology", "In the last study released, psychiatrists estimate that the total number of people who have become digitally dependent on their gadgets has risen by 300% over the past 5 years. If this trend continues, we are placing both our mental and physical well-being at high a risk.")
				+newsList("news3.jpg", "Our Favourite Task Management App", "Posted on March 28, 2013", "Uku Mason", "Apps", "6Wunderkinder’s flagship product, Wunderlist, has been a massive hit since its inception. Arguably one of the best to manage your tasks in your business and personal life. What makes it different from any other app? Simplicity.")