section.top-footer
	.container
		.shop-info
			h4.shop-info__heading Visit our shop
			.shop-info__imagebox
				img.shop-info__img(src="upload/lime.jpg", alt="Visit our shop")
			.shop-info__text Grab some of our premium templates, icons, and graphics from our store. We strive to bring you the highest quality digital products.

			.shop-info__more
				a.shop-info__btn.btn(href="#")
					| Lets shop
					i.icon-angle-right

		.soc-widget
			h4.soc-widget__heading Latest tweets
			ul.soc-widget__list
				li.soc-widget__item
					i.icon-twitter
					.soc-widget__text Confucius: Life is really simple, but we insist on making it complicated.
					.soc-widget__hash #famousquotes
					.soc-widget__publish 8 mins ago
				li.soc-widget__item
					i.icon-twitter
					.soc-widget__text Bruce Lee: If you love life, don't waste time, for time is what life is made up of. 
					.soc-widget__hash #famousquotes
					.soc-widget__publish 2 days ago
