include inc/mixin

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Document

		link(rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="images/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-114x114.png")

		//- link(rel="stylesheet" href="css/simpleMobileMenu.css")
		link(rel="stylesheet" href="css/style.css")

	body
		include inc/header
		include inc/feature
		include inc/freebies
		include inc/quote
		include inc/news
		include inc/tfoot
		include inc/footer

		script(src="js/libs.min.js")
		script(src="js/common.js")
